<!DOCTYPE html>
<html lang="[[language-6297EAFB-33A0-48B8-8D64-E61CDC3E9035]]">

    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="../favicons/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/hosting.css">
        <script src="../js/script.min.js"></script>

        [[meta-6297EAFB-33A0-48B8-8D64-E61CDC3E9035]]
        <base href="[[base-6297EAFB-33A0-48B8-8D64-E61CDC3E9035]]">
    </head>

    <body>
        <noscript>this page requires javascript to work properly. please enable javascript in your browser</noscript>
        <script type="module" src="../src/main.js"></script>
        <div id="app" class="srl-hosting">
            <main class="srl-content">
                [[content-6297EAFB-33A0-48B8-8D64-E61CDC3E9035]]
            </main>
        </div>

    </body>

</html>