@use 'srl';
@use 'srl/grid';

$numberSize: 50;

.srl-title-h4 {
  color: srl.colors-shade-800();

  break-before: auto;
  break-inside: avoid;
  break-after: auto;
  @include srl.typography-headline4(true);
}
