@use 'srl';
@use "sass:map";

$number-width: srl.system-size-unit(map.get(srl.$meta, footnote, number-width));

.srl-footnote__item {
  display: flex;
  @include srl.spacer-margin-top(100);
}

.srl-footnote__number {
  width: $number-width;
}

.srl-footnote__text {
  width: calc(100% - #{$number-width});
  @include srl.typography-footnote-text();
}
