@use 'srl';
@use 'sass:map';

$number-width: srl.system-size-unit(map.get(srl.$meta, footnote, number-width));

.srl-footnote__key,
.srl-footnote__number {
  width: $number-width;
}

.srl-footnote__text,
.srl-footnote__text {
  width: calc(100% - #{$number-width});
}