@use '@multivisio/nswow/scss/system/variables.scss' as systemVariables with (
  $environment: development
);

@use '@multivisio/nswow/scss/fonts/variables.scss' as fontsVariables with (
  $default-font: 'Roboto, sans-serif',
  $font-base-path: '.../src/assets/fonts'
);

@use '@multivisio/nswow/scss/meta/variables.scss' as metaVariables with (
  $padding: (
    tiny: 4,
    base: 8,
    small: 16,
    medium: 24,
    large: 32
  ),
  $spacer: (
    small: 48,
    medium: 64,
    large: 96,
    extra-large: 192
  )
);

@use '@multivisio/nswow/scss/grid/variables.scss' as gridVariables with (
  $containers: (
    print: (
      padding: 32
    ),
    phone: (
      padding: 16
    ),
    portrait: (
      padding: 16
    ),
    landscape: (
      padding: 16,
      max-width: 1280
    ),
    desktop: (
      padding: 16,
      max-width: 1280
    )
  ),
  $breakpoints: (
    print: 0,
    phone: 0,
    portrait: 768,
    landscape: 1024,
    desktop: 1440
  ),
  $gutter: (
    print: (
      columns: 12,
      column-gap: 16
    ),
    phone: (
      columns: 12,
      column-gap: 16
    ),
    portrait: (
      columns: 12,
      column-gap: 16
    ),
    landscape: (
      columns: 12,
      column-gap: 16
    ),
    desktop: (
      columns: 12,
      column-gap: 16
    )
  )
);

@use '@multivisio/nswow/scss/colors/variables.scss' as colorsVariables with (
  $colors: (
    light: (
      color: #ffffff
    ),
    on-light: (
      color: #000000
    ),
    dark: (
      color: #000000
    ),
    on-dark: (
      color: #ffffff
    ),
    primary: (
      color: #e50000
    ),
    on-primary: (
      color: #ffffff
    ),
    primary-dark: (
      color: #5227cc
    ),
    on-primary-dark: (
      color: #ffffff
    ),
    secondary-light: (
      color: #abb5be
    ),
    on-secondary-light: (
      color: #000000
    ),
    secondary: (
      color: #6c757d
    ),
    on-secondary: (
      color: #ffffff
    ),
    secondary-dark: (
      color: #54595e
    ),
    on-secondary-dark: (
      color: #ffffff
    ),
    shade: (
      color: #6c757d
    ),
    shade-50: (
      color: #b9c1c4
    ),
    shade-100: (
      color: #b1b9bd
    ),
    shade-200: (
      color: #a5acb0
    ),
    shade-300: (
      color: #99a0a3
    ),
    shade-400: (
      color: #8d9396
    ),
    shade-500: (
      color: #81868a
    ),
    shade-600: (
      color: #6c757d
    ),
    shade-700: (
      color: #464e57
    ),
    shade-800: (
      color: #252a30
    ),
    shade-900: (
      color: #07090a
    ),
    shade-950: (
      color: #000000
    )
  )
);

@use '@multivisio/nswow/scss/typography/variables.scss' as typographyVariables with (
  $typography: (
    display1: (
      font-size: 72,
      line-height: 1.4,
      font-style: normal,
      font-weight: 600,
      margin-bottom: 24
    ),
    display2: (
      font-size: 64,
      line-height: 1.4,
      font-style: normal,
      font-weight: 600,
      margin-bottom: 24
    ),
    display3: (
      font-size: 58,
      line-height: 1.4,
      font-style: normal,
      font-weight: 600,
      margin-bottom: 24
    ),
    headline1: (
      font-size: 48,
      line-height: 1.6,
      font-style: normal,
      font-weight: 600,
      margin-bottom: 16
    ),
    headline2: (
      font-size: 40,
      line-height: 1.6,
      font-style: normal,
      font-weight: 600,
      margin-bottom: 16
    ),
    headline3: (
      font-size: 34,
      line-height: 1.6,
      font-style: normal,
      font-weight: 600,
      margin-bottom: 16
    ),
    headline4: (
      font-size: 28,
      line-height: 1.6,
      font-style: normal,
      font-weight: 600,
      margin-bottom: 16
    ),
    headline5: (
      font-size: 24,
      line-height: 1.6,
      font-style: normal,
      font-weight: 600,
      margin-bottom: 16
    ),
    headline6: (
      font-size: 20,
      line-height: 1.6,
      font-style: normal,
      font-weight: 600,
      margin-bottom: 16
    ),
    copy1: (
      font-size: 16,
      line-height: 1.6,
      font-style: normal,
      font-weight: 400,
      margin-bottom: 8
    ),
    copy2: (
      font-size: 14,
      line-height: 1.6,
      font-style: normal,
      font-weight: 400,
      margin-bottom: 8
    ),
    copy3: (
      font-size: 12,
      line-height: 1.6,
      font-style: normal,
      font-weight: 400,
      margin-bottom: 8
    ),
    blockquote: (
      font-size: 18,
      line-height: 1.6,
      font-style: italic,
      font-weight: 300,
      margin-bottom: 8
    ),
    lead: (
      font-size: 18,
      line-height: 1.6,
      font-style: normal,
      font-weight: 500,
      margin-bottom: 8
    )
  )
);

@use '@multivisio/nswow/scss/spacer/variables.scss' as spacerVariables with (
  $spacer: (
    tiny: (
      size: 16
    ),
    small: (
      size: 24
    ),
    medium: (
      size: 28,
      media: (
        up: (
          landscape: 32
        )
      )
    ),
    large: (
      size: 36,
      media: (
        up: (
          landscape: 48
        )
      )
    ),
    extra-large: (
      size: 50,
      media: (
        up: (
          landscape: 64
        )
      )
    )
  )
);
