@use 'variables';
@use 'sass:map';
@use "../system";

@function get($spacer) {
  @if not map.has-key(variables.$spacer, $spacer) {
    @error "Invalid column-gap "#{$spacer}" specified! Choose one of #{map.keys(variables.$spacer)}";
  }
  @return system.root-style(#{variables.$variable-prefix}spacer-#{$spacer});
}
