@use "variables";
@use "../system";
@use "sass:map";

@each $spacer, $spacerValue in variables.$spacer {
  $varName: #{variables.$variable-prefix}spacer-#{$spacer};
  @include system.add-root-style(
                  $varName,
                  system.size-unit(map.get($spacerValue, size))
  );

  @if not (map.has-key($spacerValue, media) and map.has-key(map.get($spacerValue, media), print)) {
    @include system.add-root-style(
                    $varName,
                    system.size-unit(map.get($spacerValue, size)),
                    print
    );
  }

  @if map.has-key($spacerValue, media) {
    @each $breakpoint, $breakpointValue in map.get($spacerValue, media) {
      @if $breakpoint == print {
        @include system.add-root-style(
                        $varName,
                        system.size-unit(map.get($breakpointValue, size)),
                        print
        );
      } @else if $breakpoint == up {
        @each $upBreakpoint, $upBreakpointValue in $breakpointValue {
          @include system.add-root-style(
                          $varName,
                          system.size-unit($upBreakpointValue),
                          $upBreakpoint,
                          up
          );
        }
      } @else if $breakpoint == down {
        @each $downBreakpoint, $downBreakpointValue in $breakpointValue {
          @include system.add-root-style(
                          $varName,
                          system.size-unit($downBreakpointValue),
                          $downBreakpoint,
                          down
          );
        }
      } @else {
        @include system.add-root-style(
                        $varName,
                        system.size-unit($breakpointValue),
                        $breakpoint
        );
      }
    }
  }
}