@use 'sass:list';
$colors-highchart: #007b91 #70c3d4 #009d5a #afcd5f #99cad3 #c5e7ed #99d7bd #dfebbf #f18fb9 #f9d2e3
  #bd0075;

$background-color: transparent;
$font-family: var(--global-body-font-family);

$xaxis-grid-line: 1px;
$data-label-color: var(--global-color-black-100);
$tooltip-border: 0px;

.highcharts-background {
  fill: transparent;
}

.highcharts-title {
  display: none;
}

.highcharts-container {
  height: auto;
}

.highcharts-point {
  stroke: none;
}

.highcharts-halo {
  display: none;
}

.highcharts-axis-line {
  stroke: none;
}

.highcharts-grid-line {
  stroke: none;
}

.highcharts-tick {
  stroke: var(--global-color-black-100);
}

.highcharts-yaxis .highcharts-tick {
  stroke: none;

  .no-thick-axis & {
    stroke-width: 1px;
  }
}

.highcharts-point-inactive,
.highcharts-series-inactive {
  opacity: 0.8;
}

.ns-line-chart {
  .highcharts-point:not(.highcharts-point-hover) {
    display: none;
  }
}

.highcharts-yaxis .highcharts-axis-line {
  stroke: none;

  .no-thick-axis & {
    stroke-width: 0;
  }
}

.highcharts-yaxis {
  transform: translateX(-5px);

  .no-thick-axis & {
    transform: translateX(0);
  }
}

.highcharts-xaxis {
  .highcharts-tick {
    &:last-of-type,
    &:nth-last-of-type(2) {
      display: none;

      .no-thick-axis & {
        display: block;
      }
    }
  }
}

.tooltip-series-color {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 4px;

  background-color: black;
  margin-right: 5px;

  @for $i from 1 through list.length($colors-highchart) {
    $current-color: list.nth($colors-highchart, $i);

    &.color-#{$i - 1} {
      background-color: $current-color;
    }
  }
}

.tooltip-series-value {
  color: var(--srl-color-dark);
  font-weight: 600;
}
