@use 'srl';

.iz-keyfigure-comparison {
  --srl-spacing-200: 16px;
  --srl-spacing-300: 24px;
}

.kfc-tooltip {
  border: 0;
}

.srl-article__grid--kfc {
  --srl-gutter-columns: 4;

  @include srl.grid-media-up(portrait) {
    --srl-gutter-columns: 8;
  }

  @include srl.grid-media-up(landscape) {
    --srl-gutter-columns: 12;
  }
}

.srl-article__grid--kfc > .srl-article__grid--inner {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: auto / span var(--srl-gutter-columns);
  gap: calc(var(--srl-gutter-column-gap) / 2) var(--srl-gutter-column-gap);

  @include srl.grid-media-up(portrait) {
    grid-column: auto / span 8;
  }

  @include srl.grid-media-up(landscape) {
    grid-column-start: 3;
  }
}

.iz-kfc-dropdown--charts {
  grid-column: auto / span 4;

  @include srl.grid-media-up(landscape) {
    grid-column: auto / span 5;
  }
}

.iz-kfc-dropdown--periods {
  grid-column: auto / span 4;

  @include srl.grid-media-up(landscape) {
    grid-column: auto / span 3;
  }
}

.kfc-chart-title {
  grid-column: auto / span 4;

  @include srl.grid-media-up(landscape) {
    grid-column: auto / span 4;
  }
}

.kfc-chart-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  gap: srl.system-size-unit(24);
  grid-column: auto / span 4;

  @include srl.grid-media-up(portrait) {
    justify-content: end;
    gap: srl.system-size-unit(36);
    grid-column: auto / span 4;
  }

  @include srl.grid-media-up(landscape) {
    grid-column: auto / span 4;
    gap: srl.system-size-unit(48);
  }
}

.iz-kfc-chart-types,
.iz-kfc-chart-toggles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  gap: srl.system-size-unit(24);
  grid-column: auto / span 2;

  @include srl.grid-media-up(portrait) {
    grid-column: auto / span 4;
    gap: srl.system-size-unit(36);
  }

  @include srl.grid-media-up(landscape) {
    grid-column: auto / span 4;
    gap: srl.system-size-unit(48);
  }
}

.iz-kfc-chart-toggles {
  justify-content: end;
}

.iz-keyfigure-comparison__chart {
  grid-column: auto / span 12;

  @include srl.grid-media-up(landscape) {
    grid-column: auto / span 8;
  }

  &.hidden {
    display: none;
  }
}

.iz-keyfigure-comparison__table {
  grid-column: auto / span 12;

  @include srl.grid-media-up(landscape) {
    grid-column: auto / span 8;
  }

  .kfc-table-wrapper {
    overflow: auto;
  }

  .kfc-table-wrapper.hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    top: 0;
    left: 0;
  }

  .noline {
    width: 14px;
  }
}

.iz-keyfigure-comparison__footnote {
  grid-column: auto / span 12;

  @include srl.grid-media-up(landscape) {
    grid-column: auto / span 8;
  }
}
