$colors-highcharts: #007b91 #70c3d4 #009d5a #afcd5f #99cad3 #c5e7ed #99d7bd #dfebbf #f18fb9 #f9d2e3
  #bd0075;

$layout-breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 992px,
  lg: 1025px,
  xl: 1433px
) !default;
