@use "srl";
@use "srl/fa";

.srl-button__icon {
  display: none;

  [class*="srl-button-icon-"][class*="-before"] &,
  [class*="srl-button-icon-"][class*="-after"] & {
    display: block;
    @extend %srl-icon-base;
  }

  [class*="srl-button-icon-"][class*="-after"] & {
    order: 2;
  }

  .srl-button-icon-arrow-left-before & {
    @include fa.icon(chevron-left);
  }

  .srl-button-icon-arrow-right-after & {
    @include fa.icon(chevron-right);
  }

  .srl-button-icon-download-after & {
    @include fa.icon(download);
  }
}
