@use 'srl';
@use 'sass:map';

$table-cells-width-in-mm: false;

.srl-table__container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.srl-table-container {
  @include srl.grid-pdf-flex-col(6);

  .srl-wide-width & {
    @include srl.grid-pdf-flex-col(8);
  }
}

@if $table-cells-width-in-mm == true {
  .srl-table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  table {
    width: fit-content;
    min-width: unset;
  }
}

tr {
  &[class*="pagebreak"] {
    break-after: always;
  }
}

th,
td {
  padding: (
          srl.spacer-get(map.get(srl.$meta, table, padding, regular-pdf, top))
          srl.spacer-get(map.get(srl.$meta, table, padding, regular-pdf, right))
          srl.spacer-get(map.get(srl.$meta, table, padding, regular-pdf, bottom))
          srl.spacer-get(map.get(srl.$meta, table, padding, regular-pdf, left))
  );

  /*
  PDF only Font Sizes
  */
  .srl-pdf-font-size-small & {
    font-size: srl.typography-get-font-size('table-cell-small-regular');
  }


  /*
  PDF only Paddings
  */
  .srl-pdf-padding-tiny & {
    padding: (
            srl.spacer-get(map.get(srl.$meta, table, padding, tiny, top))
            srl.spacer-get(map.get(srl.$meta, table, padding, tiny, right))
            srl.spacer-get(map.get(srl.$meta, table, padding, tiny, bottom))
            srl.spacer-get(map.get(srl.$meta, table, padding, tiny, left))
    );
  }

  .srl-pdf-padding-small & {
    padding: (
            srl.spacer-get(map.get(srl.$meta, table, padding, small, top))
            srl.spacer-get(map.get(srl.$meta, table, padding, small, right))
            srl.spacer-get(map.get(srl.$meta, table, padding, small, bottom))
            srl.spacer-get(map.get(srl.$meta, table, padding, small, left))
    );
  }
}
