@use "srl";

.srl-table {
  page-break-inside: avoid;
  width: 100%;
  min-width: 100%;

  div {
    width: 100%;
    min-width: 100%;
  }
}

.srl-table__container {
  & > div {
    @extend %srl-grid-reset;
  }
}

table {
  width: 100%;
  min-width: 100%;
}

th,
td {
  font-family: 'Arial', sans-serif;

  &[class*="head"],
  &[class*="bold"],
  &[class*="regular"] {
    font-family: 'Arial', sans-serif;
  }

  &[class*="head"],
  &[class*="bold"] {
    font-weight: bold;
  }
}