@use 'srl';
@use "@/assets/scss/margins";
@use "spacing-variations";

.srl-title-h2 {
  @include srl.typography-title-h2();

  .srl-title-image-quote &,
  .srl-teaser-quote &,
  .srl-teaser & {
    @include srl.typography-title-h2-landing-page();
  }

  .srl-title-image-quote & {
    color: srl.colors-black-1000();
  }

  .srl-pdf-cover & {
    @include srl.typography-title-h2-pdf();
  }

  .srl-cover--font-color-black & {
    color: srl.colors-black-1000();
  }

  .srl-cover--font-color-primary & {
    color: srl.colors-primary-1000();
  }
}

@include margins.srl-component-margin(spacing-variations.$margins);

.srl-title-h2__number-text-container {
  display: flex;
}