@use 'srl';
@use 'sass:map';

$number-width: srl.spacer-get(map.get(srl.$meta, title, number-width-pdf));

.srl-title-h2__number {
  width: $number-width;
}

.srl-title-h2__number + .srl-title-h2__text {
  width: calc(100% - #{$number-width});
}

.srl-title-h2__number:empty + .srl-title-h2__text {
  width: 100%;
}