@use 'srl';
@use "srl/fa";
@use "@/assets/scss/margins";
@use "spacing-variations";

.srl-grid--media {
  .srl-full-width & {
    @extend %srl-grid-reset;
  }
}

.srl-video {
  display: block;
}

@include margins.srl-component-margin(spacing-variations.$margins);

.srl-video__thumbnail {
  @extend %srl-regular-width;

  .srl-wide-width & {
    @extend %srl-wide-width;
  }
}

.srl-video__video-link-container {
  @include srl.spacer-margin-top(100);
}

.srl-video__video-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  @include srl.typography-video-link();
}

.srl-video__video-link-icon {
  @extend %srl-icon-base;
  @include fa.icon(play);
}

.srl-video__video-link-text {
  padding-left: srl.spacer-get(100);
}