@use 'srl';

.srl-video {
  display: block;
}

.srl-video__video-link-container {
  @include srl.spacer-margin-top(100);
}

.srl-video__video-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  @include srl.typography-video-link();
}

.srl-video__video-link-text {
  padding-left: srl.spacer-get(100);
}