@use "srl";
@use "@/assets/scss/placeholders";

.srl-grid--media {
  .srl-full-width & {
    @extend %srl-grid-reset;
  }
}

.srl-video__inner {
  position: relative;
}

.srl-video__video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.srl-video__thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.srl-video__play {
  position: absolute;
  top: srl.spacer-get(400);
  left: srl.spacer-get(400);
  z-index: 5;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.srl-video__play-button-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.svg-play {
  line-height: 0;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: -2px;

  .srl-video__video-link-container & {
    width: 15px;
    height: 15px;
    margin-right: 0;
  }
}

.srl-video__video-link-container {
  @extend %srl-regular-width;
}

.srl-video__started {
    .srl-video__thumbnail,
    .srl-video__play {
      opacity: 0;
      pointer-events: none;
    }
}