@use 'srl';

@include srl.spacer-component-margin(cv);

.srl-cv__inner {
  display: flex;
  align-items: center;
}

.srl-cv__img {
  border-radius: 50%;

  .srl-quote--square-img & {
    border-radius: 0;
  }
}

.srl-cv__content {
  margin-top: srl.spacer-get(400);
}
