@use 'srl';
@use "sass:map";
@use "@/assets/scss/margins";
@use "spacing-variations";

@include margins.srl-component-margin(spacing-variations.$margins);

.srl-cv__inner {
  display: flex;
  align-items: center;
}

.srl-cv__img {
  border-radius: 50%;
}

.srl-cv__content {
  margin-top: srl.spacer-get(400);
}