@use "srl/helpers";
@use "srl/system";
@use "srl/grid";

%srl-breakout-grid-base {
  @include grid.media-up(desktop) {
    display: grid;
    gap: var(--srl-gutter-column-gap);
    grid-template-columns:
    [full-start] minmax(0, 1fr)
    [content-start] repeat(var(--srl-gutter-columns), [col] minmax(0, calc((min(100vw, calc(var(--srl-container-max-width) - calc(var(--srl-gutter-column-gap) * 2))) - calc(var(--srl-gutter-columns) - 1) * var(--srl-gutter-column-gap)) / var(--srl-gutter-columns))))
    [content-end] minmax(0, 1fr)
    [full-end];
  }
}

%srl-breakout-grid-inner {
  @include system.add-root-style(srl-breakout-grid-from, content-start);
  @include system.add-root-style(srl-breakout-grid-to, content-end);

  @include grid.media-up(desktop) {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: subgrid;
    position: relative;
    grid-row: 1;
    grid-column: system.root-style(srl-breakout-grid-from) / system.root-style(srl-breakout-grid-from);
  }
}

@mixin srl-breakout-grid-from-to($from: "full-start", $to: "full-end") {
  grid-column: $from / $to;
}