@use 'srl';
@use "@/assets/scss/placeholders";

.srl-grid--media {
  .srl-full-width & {
    @extend %srl-grid-reset;
  }
}

.srl-image__caption {
  @include srl.spacer-margin-top(100);
}

.srl-image__caption-text {
  @include srl.typography-caption();
}
