@use "srl";
@use "assets/scss/placeholders";

.srl-image__caption-text {
  @extend %srl-regular-width;
}

.srl-image__image-container--desktop {
  display: none;

  @include srl.grid-media-up(tablet-pt) {
    display: block;
  }
}

.srl-image__image-container--mobile {
  @include srl.grid-media-up(tablet-pt) {
    display: none;
  }
}