@use 'srl';
@use 'sass:map';

$page-margin-top: srl.system-size-unit(map.get(srl.$meta, pdf, margin, top));
$page-margin-right: srl.system-size-unit(map.get(srl.$meta, pdf, margin, right));
$page-margin-bottom: srl.system-size-unit(map.get(srl.$meta, pdf, margin, bottom));
$page-margin-left: srl.system-size-unit(map.get(srl.$meta, pdf, margin, left));

.srl-pdf-chapter-cover {
  page: full-bleed-a4-without-page-margin-boxes;
  width: 210mm;
  height: 297mm;
  max-height: 297mm;
  background: srl.colors-primary-1000();
}

.srl-pdf-chapter-cover__content {
  padding: ($page-margin-top 0 $page-margin-bottom 0);
}

.srl-pdf-chapter-cover__title {
  padding-right: $page-margin-right;
  padding-left: $page-margin-left;
}
