@use 'srl';
@use 'sass:map';

.srl-pdf-toc-page {
  break-after: always;
}

.srl-pdf-toc-page__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.srl-pdf-toc-page__title,
.srl-pdf-toc-page__toc-container {
  @include srl.grid-pdf-flex-col(6);
}


