@use "variables";
@use "../system";
@use "sass:map";

@each $breakpoint, $min-width in variables.$breakpoints {
  $size-unit: false;
  @if $breakpoint == print {
    $size-unit: in;
  }

  @include system.add-root-style(
                  #{variables.$variable-prefix}breakpoint-#{$breakpoint},
                  system.size-unit($min-width, $size-unit)
  );

  $container: map.get(variables.$containers, $breakpoint);

  $container-max-width: map.get($container, max-width);
  @if not $container-max-width {
    $container-max-width: unset;
  }

  @include system.add-root-style(
                  #{variables.$variable-prefix}container-max-width,
                  system.size-unit($container-max-width, $size-unit),
                  $breakpoint
  );

  $container-padding: map.get($container, padding);
  @if not $container-padding {
    $container-padding: unset;
  }

  @include system.add-root-style(
                  #{variables.$variable-prefix}container-padding,
                  system.size-unit($container-padding, $size-unit),
                  $breakpoint
  );

  $gutter: map.get(variables.$gutter, $breakpoint);
  @if not $gutter {
    $gutter: (
            columns: 1,
    );
  }

  $columns: map.get(variables.$columns, $breakpoint);

  $gap: map.get($gutter, gap);
  $row-gap: unset;
  $column-gap: unset;
  @if $gap {
    $row-gap: $gap;
    $column-gap: $gap;
  } @else {
    @if map.has-key($gutter, row-gap) {
      $row-gap: map.get($gutter, row-gap);
    }
    @if map.has-key($gutter, column-gap) {
      $column-gap: map.get($gutter, column-gap);
    }
  }

  @include system.add-root-style(
                  #{variables.$variable-prefix}gutter-columns,
                  $columns,
                  $breakpoint
  );
  @include system.add-root-style(
                  #{variables.$variable-prefix}gutter-row-gap,
                  system.size-unit($row-gap, $size-unit),
                  $breakpoint
  );

  @include system.add-root-style(
                  #{variables.$variable-prefix}gutter-column-gap,
                  system.size-unit($column-gap, $size-unit),
                  $breakpoint
  );
}