@use 'srl';
@use "sass:map";

$number-width: srl.spacer-get(map.get(srl.$meta, title, number-width));

.srl-title-h3 {
  @include srl.typography-title-h3();
  @include srl.spacer-margin-top(300);
}

.srl-title-h3__number-text-container {
  display: flex;
}

.srl-title-h3__number {
  width: $number-width;
}

.srl-title-h3__text {
  width: calc(100% - #{$number-width});
}