.srl-pdf-cover {
  height: 297mm;
  page: full-bleed-a4-without-page-margin-boxes;

  &.srl-pdf-page-layout--a4-landscape {
    page: full-bleed-a4-landscape-without-page-margin-boxes;
  }

  &.srl-pdf-page-layout--a3-landscape {
    page: full-bleed-a3-landscape-without-page-margin-boxes;
  }
}