@use 'srl';
@use 'web';

$editor-color-srl: srl.colors-shade-200();
$editor-background-color-srl: srl.colors-primary-1000();

/*
  Overruling Livingdocs editor styles
*/
.srl-article-root .doc-component-highlight {
  outline: 1px solid $editor-color-srl;
}

.ns-temp-highlight {
  background: $editor-background-color-srl;
}

span.ns-nowrap {
  --b: 1px; /* thickness of the border */
  --c: #{$editor-color-srl}; /* color of the border */
  --w: 6px; /* width of border */
  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
}

span.ns-key-figure {
  color: srl.colors-white-1000();
  background-color: $editor-background-color-srl;
}

// Set width of placeholder image to 100%
img[src^="data:image/svg+xml"] {
  width: 100%
}