@use 'srl';
@use 'sass:string';

@page {
  margin: 0;
  size: A4;
}

body {
  @if srl.fonts-is-default() {
    font-family: string.unquote(srl.fonts-get-default());
  } @else {
    font-family: 'Comic Sans MS', sans-serif;
  }
}
