@use 'srl';
@use "srl/fa";
@use 'sass:string';
@use 'sass:map';
@use "components/button";
@use "components/fontawesome";
//@use 'components/icons';

$font-weight-bold: map.get(srl.$meta, font, weight, bold);

@include srl.system-add-root-style('srl-default-border-radius', srl.system-size-unit(16, pt));
@include srl.system-add-root-style('srl-default-border-radius', srl.system-size-unit(16));

@include srl.system-add-root-style('srl-model-flex-direction', column);
@include srl.system-add-root-style('srl-model-flex-direction', row, tablet-pt, up);

body {
  @include srl.typography-paragraph();
  background: srl.colors-white-1000();
  color: srl.colors-black-1000();
}

/*
  Images
*/
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

/*
  Bold styles
*/
[class*="bold"],
strong,
b {
    font-weight: #{$font-weight-bold};
}

/*
  Subscripts and superscripts
*/
.subscript,
sub,
.superscript,
sup {
  font-size: 60%;
  font-variant-numeric: tabular-nums;
  line-height: 0; // prevents normal text from getting too much height
}

.subscript,
sub {
  vertical-align: sub;
}

.superscript,
sup {
  vertical-align: super;
}

/*
  Nowrap's
*/
span {
  &[class*="nowrap"],
  &[class*="key-figure"] {
    white-space: nowrap;
  }
}

.srl-highlight {
  color: srl.colors-primary-1000();
}

.srl-linkable {
  a {
    color: srl.colors-primary-1000();
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    &[href^="http"] {
      &:after {
        @extend %srl-icon-base;
        @include fa.content(square-arrow-up-right);
      }
    }
  }
}

.srl-flex {
  display: flex;
  flex-direction: srl.system-root-style(srl-model-flex-direction);
  gap: var(--srl-gutter-column-gap);
}

.srl-justify-self-center {
  justify-self: center;
}

.text-center {
  text-align: center;
}