@use 'srl';
@use 'sass:string';
@use 'sass:map';

$font-weight-bold: map.get(srl.$meta, font, weight, bold);

body {
  color: srl.colors-black-1000();
}

/*
  Images
*/
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

/*
  Bold styles
*/
[class*="bold"],
strong,
b {
    font-weight: #{$font-weight-bold};
}

/*
  Subscripts and superscripts
*/
.subscript,
sub,
.superscript,
sup {
  font-size: 60%;
  font-variant-numeric: tabular-nums;
  line-height: 0; // prevents normal text from getting too much height
}

.subscript,
sub {
  vertical-align: sub;
}

.superscript,
sup {
  vertical-align: super;
}

/*
  Nowrap's
*/
span {
  &[class*="nowrap"],
  &[class*="key-figure"] {
    white-space: nowrap;
  }
}