@use 'srl';
@use 'print';
@use 'sass:map';

$image-quality: map.get(srl.$meta, pdf, image-quality);

img {
  image-rendering: auto;
  -ro-image-resampling: $image-quality;
  -ro-pdf-tag-type: "Figure";

  &[alt] {
    -ro-pdf-tag-alt: attr(alt);
  }
}

@page {
  counter-increment: page 1;
  -ro-bleed-width: 0mm;
  -ro-media-size: A4;
  -ro-crop-size: media;
  -ro-truncate-margin-after-break: always;
  -ro-truncate-margin-before-break: always;

  @top-left-corner {
    content: counter(page);
  }
}