@use 'web';

@use 'srl';

.srl-image {
  &:not(.show-mobile-image) {
    @include srl.grid-media(phone) {
      .srl-image__image-container--desktop {
        display: none;
      }
    }

    @include srl.grid-media-up(portrait) {
      .srl-image__image-container--mobile {
        display: none;
      }
    }
  }

  &.show-mobile-image {
    .srl-image__image-container--desktop {
      display: none;
    }
  }
}
