@use 'srl';

.srl-quote {
  align-items: flex-end;
}

.srl-quote--with-image {
  align-items: center;
  flex-direction: row;
}

.srl-quote--with-image.srl-wide-width {
  justify-content: space-between;
}

.srl-quote__figure {
  .srl-quote--with-image & {
    @extend %srl-quote-with-image-image-regular-width;
  }

  .srl-quote--with-image.srl-wide-width & {
    @extend %srl-quote-with-image-image-wide-width;
  }
}

.srl-quote__text {
  .srl-quote--with-image & {
    @extend %srl-quote-with-image-text-regular-width;
  }

  .srl-quote--with-image.srl-wide-width & {
    @extend %srl-quote-with-image-text-wide-width;
  }
}
