@use 'srl';

.srl-quote {
  align-items: flex-end;
}

.srl-quote--with-image {
  align-items: center;
  flex-direction: row;
}

.srl-quote--with-image.srl-wide-width {
  justify-content: space-between;
}

.srl-quote__figure {
  .srl-quote--with-image & {
    margin-left: srl.grid-calculate-pdf-col-start(3);
    margin-right: srl.grid-get-gutter-column-gap();
    width: srl.grid-calculate-pdf-col-span-minus-one-gutter(2);
  }

  .srl-quote--with-image.srl-wide-width & {
    margin-left: 0;
    margin-right: 0;
    @include srl.grid-pdf-flex-col(2);
  }
}

.srl-quote__text {
  .srl-quote--with-image & {
    width: srl.grid-calculate-pdf-col-span-minus-one-gutter(4);
  }

  .srl-quote--with-image.srl-wide-width & {
    @include srl.grid-pdf-flex-col(6);
  }
}


