@use 'srl';
@use "sass:map";

.srl-pdf-toc__item {
  padding-block: srl.spacer-get(100);
  display: flex;
  justify-content: space-between;
  border-top: srl.system-size-unit(1pt) solid srl.colors-black-1000();
  text-decoration: none;
  @include srl.typography-toc-item();
}

.srl-pdf-toc__text {
  width: calc(100% - srl.system-size-unit(24pt) - srl.spacer-get(100));

  &:after {
    .srl-pdf-toc__link:not([href]) & {
      content: "No link provided";
      color: #FF0000;
      display: inline-block;
      margin-left: srl.spacer-get(100)
    }
  }
}

.srl-pdf-toc__page-number {
  text-align: right;
  width: srl.system-size-unit(24pt);
}