@use "sass:map";
@use "sass:string";
@use "variables";
@use "../colors";
@use "../system";

@mixin _register-typo-variables(
  $typo,
  $map,
  $media: false,
  $mediaBehavior: false
) {
  @if not $media {
    $defaults: map.merge(
                    (
                            font-family: unset,
                            font-size: unset,
                            line-height: unset,
                            font-style: normal,
                            font-weight: unset,
                            letter-spacing: unset,
                            margin-top: 0,
                            margin-bottom: 0,
                    ),
                    $map
    );

    @if (map.has-key($map, font-family)) {
      @include system.add-root-style(
                      #{variables.$variable-prefix}typo-#{$typo}-font-family,
                      string.unquote(map.get($defaults, font-family))
      );
    }

    @include system.add-root-style(
                    #{variables.$variable-prefix}typo-#{$typo}-font-size,
                    system.size-unit(map.get($defaults, font-size))
    );

    @include system.add-root-style(
                    #{variables.$variable-prefix}typo-#{$typo}-line-height,
                    system.size-unit(map.get($defaults, line-height), em)
    );

    @include system.add-root-style(
                    #{variables.$variable-prefix}typo-#{$typo}-font-style,
                    string.unquote(map.get($defaults, font-style))
    );

    @include system.add-root-style(
                    #{variables.$variable-prefix}typo-#{$typo}-font-weight,
                    map.get($defaults, font-weight)
    );

    @if (map.has-key($map, color)) {
      @include system.add-root-style(
                      #{variables.$variable-prefix}typo-#{$typo}-font-color,
                      colors.get(map.get($defaults, color))
      );
    }

    @if (map.has-key($map, letter-spacing)) {
      @include system.add-root-style(
                      #{variables.$variable-prefix}typo-#{$typo}-letter-spacing,
                      system.size-unit(map.get($defaults, letter-spacing))
      );
    }

    @if (map.has-key($map, text-transform)) {
      @include system.add-root-style(
                      #{variables.$variable-prefix}typo-#{$typo}-text-transform,
                      map.get($defaults, text-transform)
      );
    }

    @include system.add-root-style(
                    #{variables.$variable-prefix}typo-#{$typo}-margin-top,
                    system.size-unit(map.get($defaults, margin-top))
    );

    @include system.add-root-style(
                    #{variables.$variable-prefix}typo-#{$typo}-margin-bottom,
                    system.size-unit(map.get($defaults, margin-bottom))
    );

    @if map.has-key($map, media) {
      @each $breakpoint, $breakpointValue in map.get($map, media) {
        @if $breakpoint == up {
          @each $upBreakpoint, $upBreakpointValue in $breakpointValue {
            @include _register-typo-variables(
                            $typo,
                            $upBreakpointValue,
                            $upBreakpoint,
                            up
            );
          }
        } @else if $breakpoint == down {
          @each $downBreakpoint, $downBreakpointValue in $breakpointValue {
            @include _register-typo-variables(
                            $typo,
                            $downBreakpointValue,
                            $downBreakpoint,
                            down
            );
          }
        } @else {
          @include _register-typo-variables(
                          $typo,
                          $breakpointValue,
                          $breakpoint
          );
        }
      }
    }
  } @else {
    @if (map.has-key($map, font-family)) {
      @include system.add-root-style(
                      #{variables.$variable-prefix}typo-#{$typo}-font-family,
                      string.unquote(map.get($map, font-family)),
                      $media,
                      $mediaBehavior
      );
    }

    @if (map.has-key($map, font-size)) {
      @include system.add-root-style(
                      #{variables.$variable-prefix}typo-#{$typo}-font-size,
                      system.size-unit(map.get($map, font-size)),
                      $media,
                      $mediaBehavior
      );
    }

    @if map.has-key($map, line-height) {
      @include system.add-root-style(
                      #{variables.$variable-prefix}typo-#{$typo}-line-height,
                      system.size-unit(map.get($map, line-height), em),
                      $media,
                      $mediaBehavior
      );
    }

    @if map.has-key($map, font-style) {
      @include system.add-root-style(
                      #{variables.$variable-prefix}typo-#{$typo}-font-style,
                      string.unquote(map.get($map, font-style)),
                      $media,
                      $mediaBehavior
      );
    }

    @if map.has-key($map, font-weight) {
      @include system.add-root-style(
                      #{variables.$variable-prefix}typo-#{$typo}-font-weight,
                      map.get($map, font-weight),
                      $media,
                      $mediaBehavior
      );
    }

    @if (map.has-key($map, color)) {
      @include system.add-root-style(
                      #{variables.$variable-prefix}typo-#{$typo}-font-color,
                      colors.get(map.get($defaults, color))
      );
    }

    @if (map.has-key($map, letter-spacing)) {
      @include system.add-root-style(
                      #{variables.$variable-prefix}typo-#{$typo}-letter-spacing,
                      system.size-unit(map.get($defaults, letter-spacing)),
                      $media,
                      $mediaBehavior
      );
    }

    @if (map.has-key($map, text-transform)) {
      @include system.add-root-style(
                      #{variables.$variable-prefix}typo-#{$typo}-text-transform,
                      map.get($defaults, text-transform),
                      $media,
                      $mediaBehavior
      );
    }

    @if map.has-key($map, margin-top) {
      @if $media == print {
        @include system.add-root-style(
                        #{variables.$variable-prefix}typo-#{$typo}-margin-top,
                        system.size-unit(map.get($map, margin-top), in),
                        $media,
                        $mediaBehavior
        );
      } @else {
        @include system.add-root-style(
                        #{variables.$variable-prefix}typo-#{$typo}-margin-top,
                        system.size-unit(map.get($map, margin-top)),
                        $media,
                        $mediaBehavior
        );
      }
    }

    @if map.has-key($map, margin-bottom) {
      @if $media == print {
        @include system.add-root-style(
                        #{variables.$variable-prefix}typo-#{$typo}-margin-bottom,
                        system.size-unit(map.get($map, margin-bottom), in),
                        $media,
                        $mediaBehavior
        );
      } @else {
        @include system.add-root-style(
                        #{variables.$variable-prefix}typo-#{$typo}-margin-bottom,
                        system.size-unit(map.get($map, margin-bottom)),
                        $media,
                        $mediaBehavior
        );
      }
    }
  }
}

@each $typo, $values in variables.$typography {
  @include _register-typo-variables($typo, $values);
}