@use 'srl';
@use 'srl/grid';

$numberSize: 50;

.srl-title-h2 {
  color: srl.colors-shade-800();

  break-before: auto;
  break-inside: avoid;
  break-after: auto;
  @include srl.typography-headline2(true);
}
