@use 'srl';
@use 'web';

.srl-aside-content-container {
  padding-block: srl.spacer-get(100);
  border-top: 1px solid #{srl.colors-primary-1000()};
  border-bottom: 1px solid #{srl.colors-primary-1000()};

  @include srl.helpers-editor-label('Aside Content Container');
}
