@use "srl";
@use "assets/scss/placeholders";

$transition-duration: .3s;

.lc-accordion
{
  @include srl.spacer-margin-top(800);

  &__inner {

    @include srl.grid-media-up(tablet-pt) {
      display: grid;
      column-gap: var(--srl-container-padding);
      grid-template-columns:
        [start] minmax(0, 1fr)
        [content] minmax(0, calc(var(--srl-container-max-width) - var(--srl-container-padding) * 2))
        [end] minmax(0, 1fr)
        [full-end];
    }

    &-head {
      width: 100%;
      grid-column: content / end;
      @extend %srl-grid-base;
      @include srl.grid-media-up(tablet-pt) {
        padding-inline: 0;
      }
    }

    &:after {
      content: "";
      display: block;
      border-bottom: 1px solid srl.colors-primary-1000();
      grid-column: content / end;
      margin-inline: var(--srl-container-padding);
      @include srl.grid-media(tablet-pt) {
        margin-inline: 0;
      }
      @include srl.grid-media(tablet-ls) {
        margin-inline: calc(100% / var(--srl-gutter-columns) * 2 + 7px);
      }
      @include srl.grid-media-up(desktop) {
        margin-inline: calc(100% / var(--srl-gutter-columns) * 3 + 7px);
      }
    }
  }

  & + & {
    margin-block-start: 0;
  }

  &:has(+ .lc-accordion) {
    .lc-accordion__inner:after {
      display: none;
    }
  }

  &__head {
    @include srl.typography-title-h3();
    width: 100%;
    border-style: solid;
    border-color: srl.colors-primary-1000();
    border-width: srl.system-size-unit(1) 0 0 0;
    text-align: left;
    background-color: transparent;
    padding: srl.spacer-get(400) 0;
    @include srl.spacer-gap(200);
    cursor: pointer;
    display: flex;
    @extend %srl-regular-width;

    .lc-title-h3__number {
      width: srl.spacer-get(800);
      color: srl.colors-black-1000();
    }

    .lc-accordion__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      margin-left: auto;
      color: srl.colors-black-1000();
      border: srl.system-size-unit(1) solid srl.colors-black-1000();
      border-radius: 24px;
      transition: all $transition-duration ease;

      &:before {
        content: "";
        display: block;
        width: srl.system-size-unit(20);
        height: srl.system-size-unit(20);
        @extend %srl-icon;
        @extend %srl-icon-mask;
        @extend %srl-icon-plus;
        transition: all $transition-duration ease;
      }
    }

    &[aria-expanded="true"] {
      .lc-accordion__icon {
        background-color: srl.colors-black-1000();
        color: srl.colors-white-1000();
        border-color: srl.colors-black-1000();
        &:before {
          @extend %srl-icon-minus;
        }
      }
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 1fr;
    transition: padding-bottom $transition-duration ease, grid-template-rows $transition-duration ease;
    grid-column: start / full-end;

    &[hidden] {
      grid-template-rows: 0fr;
      padding-bottom: 0;
    }

    &:not([hidden]) {
      padding-bottom: srl.spacer-get(400);
    }

    &-inner {
      width: 100%;
      padding: 0;
      overflow: hidden;

      .lc-accordion:last-child {
        > .lc-accordion__inner:after {
          display: none;
        }
      }
    }
  }
}