@use "srl";
@use 'sass:map';

$page-margin-top: srl.system-size-unit(map.get(srl.$meta, pdf, margin, top));
$page-margin-right: srl.system-size-unit(map.get(srl.$meta, pdf, margin, right));
$page-margin-bottom: srl.system-size-unit(map.get(srl.$meta, pdf, margin, bottom));
$page-margin-left: srl.system-size-unit(map.get(srl.$meta, pdf, margin, left));

.srl-pdf-cover {
  background-size: cover;
  width: 595pt;
  height: 842pt;
}

.srl-pdf-cover__content {
  padding: 32pt 32pt 96pt;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

