@use "srl";
@use 'sass:map';

$page-margin-top: srl.system-size-unit(map.get(srl.$meta, pdf, margin, top));
$page-margin-right: srl.system-size-unit(map.get(srl.$meta, pdf, margin, right));
$page-margin-bottom: srl.system-size-unit(map.get(srl.$meta, pdf, margin, bottom));
$page-margin-left: srl.system-size-unit(map.get(srl.$meta, pdf, margin, left));

@page pdf-page {
  margin: 0;
  -ro-bleed-width: 0mm;
  -ro-media-size: A4;
  -ro-crop-size: media;
}

.srl-pdf-page {
  page: pdf-page;
}